--find-links https://data.dgl.ai/wheels/torch-2.4/cu121/repo.html
dgl==2.4.0+cu121
torchdata==0.8.0
numpy==1.26.4
scipy==1.13.1
networkx==3.2.1
matplotlib==3.9.0
tqdm==4.67.3
prettytable==3.16.0
scikit-learn==1.6.1
tensorboard==2.17.0
wandb==0.24.0
psutil==7.2.1
pandas==2.3.2
ipython==7.34.0
powerlaw==2.0.0
pyemd==1.1.0
eden-kernel==0.3.1350
sympy==1.14.0
pyyaml==6.0.2